# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EmploeePets.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\$Projects\EmploeePets\.idea\.idea.EmploeePets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
